@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500&display=swap');

html, body {
	margin: 0;
	padding: 0;
/*	box-sizing: border-box;*/
	font-family: 'Montserrat', sans-serif;
}

hr {
	width: 80%;
	align-items: center;
	margin: 0 10%;
}

h1, p {
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #222629;
}

#top {
  position: fixed;
  right: 0px;
  bottom: 0px;
  background-color: #222629;
  color: #fff;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.section-top h1 {
	font-weight: 200;
	font-size: 48px;
}

.section-top p {
	font-size: 22px;
	padding: 10px 0;
}



nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 100;
}

nav .logo {
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}

nav ul {
	position: relative;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
/*	background: rgba(0, 0, 0, 0);*/
/*	text-align: center;*/
}

nav ul li {
/*	display: inline-block;*/
	position: relative;
	list-style: none;
}

nav ul li a {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.6s;
}

/*-----sections-----*/


.carousel-item {
	background-color: black;
}


.d-block {
	opacity: 0.4;
	position: relative;
	width: 100%;
	height: 100vh;
}

.section-two {	
	width: 100%;
	height: 80vh;
	padding: 120px;
	background-color: #1E5128;
}

.section-two h1 {
	font-size: 34px;
	text-align: center;
	color: #fff;
}	

.section-three {
	position: relative;
	width: 100%;
	height: 110vh;
	padding: 200px;
}

.section-three img {
	width: 500px;
	height: 350px;
	position: absolute;
	align-items: center;
	top: 25%;
	right: 150px;
}

.section-three h1 {
	position: absolute;
	font-weight: 300;
	width: 400px;
	top: 100px;
	color: #222629;
}

.section-three p {
	position: relative;
	width: 400px;
	color: #222629;
/*	height: 100%;*/
/*	top: 200px;*/
}

.section-three .btn {
	position: absolute;
	width: 240px;
	bottom: 100px;
	padding: 15px;
	border-radius: 1px;
	border-color: #1E5128;
}

.section-three .btn:hover {
	background-color: #1E5128;
}

.section-four {
	position: relative;
	align-items: center;
	padding-left: 100px;
	width: 100%;
	height: 100vh;
	background-color: #fff;
}

.row {
	max-width: 100%;
}

.col {
	width: 400px;
}

.col img {
	height: 350px;
}

.section-five-wrap {
	max-width: 100%;
	height: 100vh;
}

.section-five-wrap {
	max-width: 100%;
	background: rgba(0, 0, 0, 0.4) url(images/rope.jpg) no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-blend-mode: darken;
	background-attachment: fixed;
}


.section-five-wrap h1 {
	position: absolute;
	margin-top: 180px;
	margin-left: 100px;
	color: #fff;
	font-size: 42px;
}

.section-five-wrap p {
	position: absolute;
	margin-top: 250px;
	margin-left: 100px;
	color: #fff;
}

.section-five button {	
	color: #fff;
	
	position: absolute;
	margin-top: 350px;
	margin-left: 100px;
	width: 210px;
	border-radius: 1px;
	border-color: #fff;
	padding: 18px;
	text-transform: uppercase;
}

.section-five button:hover {
	background-color: #1E5128;
	color: #fff;
	border-color: #1E5128;
}

.section-div {
	color: #000;
}

.footer-wrap {
	padding: 6% 0 6%;
	text-align: center;
}

.footer-wrap i {
	margin: 2% 1%;
}

/*----carousel-----*/


.carousel-caption {
	position: absolute;
	bottom: 5rem;
}

.button-light {
	font-size: 20px;
	width: 25%;
	color: #fff;
	border-width: 1px;
	border-radius: 1px;
	padding: 10px;
}

.button-dark {
	font-size: 20px;
	width: 25%;
	color: #000;
	border-width: 3px;
	border-radius: 3px;
	padding: 0;
}


/*-----sticky----*/

nav.sticky {
	background: #fff;
	padding: 15px 30px;
}

nav.sticky .logo,
nav.sticky ul li a {
	color: #1E5128;
}


/*----toggleButton----*/

.menu-icon {
	position: absolute;
	top: 16px;
	left: 85%;
	width: 30px;
	height: 30%;
	color: #126577;
	text-align: center;
	box-sizing: border-box;
	padding: 30px 24px;
	cursor: pointer;
	display: none;
}


@media (max-width:1024px) {

	.menu-icon {
		display: block;
		padding: 10px 20px;
	}

	nav {

		background: #fff;
		padding: 10px 20px;
	}

	nav .logo {
		color: #000;
	}

	nav ul {
		display: block;
		position: absolute;
		width: 100%;
		max-height: 0px;
		background: #fff;
		text-align: center;
		padding: 0;
		margin: 0;
		left: 0px;
		top: 60px;
		transition: 0.6s;
	}

	nav ul li {
		display: inline-block;
		width: 100%;
		padding: 24px 0;
		text-align: center;
		
	}

	nav ul li a {
		color: #000;
	}

	nav.sticky {
		background: #fff;
/*		padding: 30px 30px;*/
	}

	nav.sticky .logo {
		color: #000;
	}

	nav.sticky ul li a {
		color: #000;
	}

	.showing {
		position: absolute;
		left: 0;
		top:60px;
		width: 100%;
		display: block;
		max-height: 20em;
		color: #000;
	}
}
